/[If IE 7]
  %link{:href => "../assets/iehack.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
#content_left{:style => "margin-top: 30px"}
  %p{:style => "font-size:18pt; font-weight:bold; letter-spacing:-1px; padding-bottom:5px; color: #4B4B4B"}
    Pedido de cotação de automóvel.
  %br/
  %p
    Os dados complementares tem por objetivo identificar os riscos do seguro, 
    as respostas devem ser verdadeiras podendo em caso de inverdade acarretar 
    a redução total ou parcial do valor a ser indenização.
  %br/
  %p
    Todos os campos abaixo são de preenchimento obrigatório.
  %br/
  = form_for :quote, :url => default_quote_path, :html => {:id => "quote_form"} do |f|
    %table
      %tr
        %td{:colspan => "2", :style => "color:#4B4B4B;"}
          - if @first_name
            %strong= f.label "#{@first_name}, qual sua relação com o principal condutor?", :for => "quote_city_circulation"
          - else
            %strong= f.label "Qual sua relação com o principal condutor?", :for => "quote_city_circulation"
      %tr{:id => "relacao_cond_seg", :style => "vertical-align: middle;"}
        %td{:colspan => "2"}
          = f.radio_button :relacao_cond_seg, "Próprio"
          = f.label "Próprio"
          = f.radio_button :relacao_cond_seg, "Cônjuge"
          = f.label "Cônjuge"
          = f.radio_button :relacao_cond_seg, "Filho"
          = f.label "Filho"
          = f.radio_button :relacao_cond_seg, "Outro"
          = f.label "Outro"
          = f.text_field :relacao_cond_seg_outro_name, :maxlength => 20, :disabled => "true", :style => "width: 161px;"

      %tr
        %td{:colspan => "2", :style => "border-bottom: 1px solid #DDD;"}
          %br/
          Dados do principal condutor

      %tr
        %td{:style => "color:#4B4B4B; width: 230px;", :id => "column1"}
          %strong= f.label "Nome", :for => "quote_perfil_name"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Cpf", :for => "quote_perfil_cpf"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.text_field :perfil_name, :maxlength => 50, :style => "width: 195px;", :class => "required"
        %td
          = f.text_field :perfil_cpf, :style => "width: 195px", :alt => "cpf", :class => "required"

      %tr
        %td{:style => "color:#4B4B4B; width: 230px;", :id => "column1"}
          %strong= f.label "Data de nascimento", :for => "quote_perfil_birth"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Sexo"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.text_field :perfil_birth, :style => "width: 195px", :alt => "date", :class => "required"
        %td
          = f.select :perfil_sex, options_for_select([["Masculino", 0], ["Feminino", 1]]), {:prompt => "Selecione"}, {:style => "width: 217px;", :class => "required"}

      %tr
        %td{:style => "color:#4B4B4B; width: 230px;", :id => "column1"}
          %strong= f.label "Estado civil"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Data da 1ª habilitação", :for => "quote_perfil_date_licence"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.select :perfil_estado_civil, options_for_select([["Solteiro(a)", 0], ["Casado(a)", 1], ["União Estável (minimo 2 anos)", 2], ["Separado(a)", 3], ["Divorciado(a)", 4], ["Viúvo(a)", 5]]), {:prompt => "Selecione"}, {:style => "width: 217px;", :class => "required"}
        %td
          = f.text_field :perfil_date_licence, :style => "width: 195px", :alt => "date", :class => "required"

      %tr
        %td{:style => "color:#4B4B4B; width: 230px;", :id => "column1"}
          %strong
            %label{:for => "quote_perfil_cnh"} Nº da CNH (opcional)
        %td{:style => "color:#4B4B4B; width: 230px;", :id => "column1"}
          %strong= f.label "Escolaridade"
      %tr{:style => "vertical-align: middle;"}
        %td
          = f.text_field :perfil_cnh, :style => "width: 195px"
        %td          
          = f.select :perfil_escolaridade, options_for_select([["Fundamental", 0], ["Médio", 1], ["Superior", 2]]), {:prompt => "Selecione"}, {:style => "width: 217px;", :class => "required"}

      %tr
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Estuda atualmente?"
        %td{:style => "color:#4B4B4B; width: 230px;", :id => "column1"}
          %strong= f.label "Tipo de residência"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.select :perfil_estuda, options_for_select([["Sim", 0], ["Não", 1]]), {:prompt => "Selecione"}, {:class => "required", :style => "width: 217px;"}
        %td
          = f.select :perfil_tipo_residencia, options_for_select([["Apartamento", 0], ["Apartamento (cond. fechado)", 1], ["Casa", 2], ["Casa (cond. fechado)", 3]]), {:prompt => "Selecione"}, {:style => "width: 217px;", :class => "required"}          

      %tr
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Situação da residência"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Qtde de veíc. na residência?"
      %tr{:style => "vertical-align: middle;"}
        %td
          = f.select :perfil_situacao_residencia, options_for_select([["Própria", 0], ["Alugada", 1]]), {:prompt => "Selecione"}, {:class => "required", :style => "width: 217px;"}
        %td
          = f.text_field :perfil_qtde_veiculos, :style => "width: 195px", :class => "required", :alt => "integer"

      %tr
        %td{:colspan => "2", :style => "color:#4B4B4B;"}
          %br/
          %strong= f.label "A residência possui garagem?"
      %tr{:style => "vertical-align: middle;", :id => "perfil_garagem"}
        %td{:colspan => "2"}
          = f.check_box :perfil_garagem_residencia
          = f.label "Na residência"
          %br/
          = f.check_box :perfil_garagem_trabalho
          = f.label "No trabalho"
          %br/
          = f.check_box :perfil_garagem_escola
          = f.label "Na escola"
          %br/
          = f.check_box :perfil_garagem_nao_trabalha
          = f.label "Não trabalha ou não utiliza para ir ao trabalho"
          %br/
          = f.check_box :perfil_garagem_nao_estuda
          = f.label "Não estuda ou não utiliza para ir a escola/faculdade"
          %br/
          = f.check_box :perfil_garagem_nao
          = f.label "Não possui garagem"

      %tr{:style => "vertical-align: middle; text-align: right;"}
        %td{:colspan => "2"}
          %br/
          %br/
          %br/
          = f.text_field :partial, :value => "auto_perfil_condutores", :style => "width: 1px; display: none;"
          = f.text_field :step, :value => "2", :style => "width: 1px; display: none;"
          = f.submit "Continuar", :class => "button"

#content_right{:style => "border-left: 1px solid #DDD; padding-left: 20px; height: 780px;"}
  = image_tag("../assets/step_1.jpg", :alt => "Step 1", :title => "Step 1")
  %br/
  = image_tag("../assets/step_2_.jpg", :alt => "Step 2", :title => "Step 2")
  %br/
  = image_tag("../assets/step_3.jpg", :alt => "Step 3", :title => "Step 3")

:javascript
  $(document).ready(function () {
    $("#cotacao").css("color", "#FFF");
    $('input:text').setMask();
    $("#quote_form").validate();

    $("#quote_form").keypress(function(e) {
      if (e.which == 13) {
        return false;
      }
    });

    if ($.browser.msie) {
      if ($.browser.version < 8) {
        $("#quote_perfil_sex").css("width", "197px");
        $("#quote_perfil_estado_civil").css("width", "197px");
        $("#quote_perfil_escolaridade").css("width", "197px");
        $("#quote_perfil_estuda").css("width", "197px");
        $("#quote_perfil_tipo_residencia").css("width", "197px");
        $("#quote_perfil_situacao_residencia").css("width", "197px");
        $("#quote_relacao_cond_seg_outro_name").css("width", "133px");
      }
    }

    $("#quote_relacao_cond_seg_prprio").click(function () {
      if($(this).is(':checked') == true) {
        $("#quote_relacao_cond_seg_outro_name").attr('disabled', true);
        $("#quote_relacao_cond_seg_outro_name").removeAttr('class');
        $("#quote_relacao_cond_seg_outro_name").val("");
        $("#quote_perfil_name").val("#{@name.nil? ? '' : @name}");
        $("#quote_perfil_cpf").val("#{@cpf.nil? ? '' : @cpf}");
        $("#quote_perfil_birth").val("#{@birth.nil? ? '' : @birth}");
        $("#quote_perfil_sex").focus();
      }
    });

    $("#quote_relacao_cond_seg_cnjuge").click(function () {
      if($(this).is(':checked') == true) {
        $("#quote_relacao_cond_seg_outro_name").attr('disabled', true);
        $("#quote_relacao_cond_seg_outro_name").removeAttr('class');
        $("#quote_relacao_cond_seg_outro_name").val("");
        $("#quote_perfil_name").val("");
        $("#quote_perfil_cpf").val("");
        $("#quote_perfil_birth").val("");
        $("#quote_perfil_name").focus();
      }
    });

    $("#quote_relacao_cond_seg_filho").click(function () {
      if($(this).is(':checked') == true) {
        $("#quote_relacao_cond_seg_outro_name").attr('disabled', true);
        $("#quote_relacao_cond_seg_outro_name").removeAttr('class');
        $("#quote_relacao_cond_seg_outro_name").val("");
        $("#quote_perfil_name").val("");
        $("#quote_perfil_cpf").val("");
        $("#quote_perfil_birth").val("");
        $("#quote_perfil_name").focus();
      }
    });

    $("#quote_relacao_cond_seg_outro").click(function () {
      if($(this).is(':checked') == true) {
        $("#quote_relacao_cond_seg_outro_name").attr('class', 'required');
        $("#quote_relacao_cond_seg_outro_name").removeAttr('disabled');
        $("#quote_perfil_name").val("");
        $("#quote_perfil_cpf").val("");
        $("#quote_perfil_birth").val("");
        $("#quote_relacao_cond_seg_outro_name").focus();
      }
    });

    $("#relacao_cond_seg").tipTip({
      defaultPosition: "right",
      content: "O principal condutor é a pessoa que utiliza o veículo, no mínimo 85% do tempo da semana e que tenha idade superior a 24 anos. Caso haja outras pessoas, além desta, que utilizam o veículo mais que 15% do tempo da semana, ou seja, na hipótese de não se conseguir definir o principal condutor, deve-se considerar os dados da pessoa mais jovem."
    });

    $("#quote_perfil_cnh").tipTip({
      activation: "focus",
      defaultPosition: "right",
      content: "Motorista sem pontos na habilitação PODE ganhar até 5% de desconto no seguro."
    });

    $("#quote_perfil_qtde_veiculos").tipTip({
      activation: "focus",
      defaultPosition: "right",
      content: "Considere o veículo segurado."
    });

    $("#perfil_garagem").tipTip({      
      defaultPosition: "right",
      content: "Somente serão consideradas as garagens e estacionamentos fechados com portões e grades ou que possuam vigilância permanente, com identificação na entrada e saída. Quando o Principal Condutor possuir mais de uma residência e/ou mais de um local de trabalho e/ou frequentar mais de uma escola e um dos locais não possuir garagem ou estacionamento fechado e exclusivo para o veículo segurado considerar a resposta como NÃO."
    });    
  });