/[If IE 7]
  %link{:href => "../assets/iehack.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
#content_left{:style => "margin-top: 30px"}  
  %p{:style => "font-size:18pt; font-weight:bold; letter-spacing:-1px; padding-bottom:5px; color: #4B4B4B"}
    Pedido de cotação de automóvel.
  %br/
  %p
    Todos os campos abaixo são de preenchimento obrigatório.
  %br/
  = form_for :quote, :url => default_quote_path, :html => {:id => "quote_form"} do |f|
    %table{:border => "0"}
      %tr
        %td{:colspan => "2", :style => "border-bottom: 1px solid #DDD;"}
          Dados do veículo

      %tr
        %td{:colspan => "2", :style => "color:#4B4B4B;"}
          %strong= f.label "Cidade em que circula 85% do tempo", :for => "quote_city_circulation"
      %tr{:style => "vertical-align: middle;"}
        %td
          = f.text_field :city_circulation, :maxlength => 50, :style => "width: 195px;", :class => "required"      
        %td
          = f.select :uf_circulation, options_for_select(@br_states), {:prompt => "Estado"}, {:style => "width: 217px;", :class => "required"}
      
      %tr
        %td{:style => "color:#4B4B4B; width: 230px;", :id => "column1"}
          %strong= f.label "Marca", :for => "quote_maker"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Modelo", :for => "quote_model"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.text_field :maker, :maxlength => 50, :style => "width: 195px;", :class => "required"
        %td
          = f.text_field :model, :maxlength => 50, :style => "width: 195px;", :class => "required"
      
      %tr
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Combustível"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Ano de fabricação"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.select :fuel, options_for_select([["Álcool e Gasolina (Flex)", 0], ["Álcool", 1], ["Gasolina", 2], ["Diesel", 3], ["Gás Natural", 4]]), {:prompt => "Selecione"}, {:class => "required", :style => "width: 217px"}
        %td
          = select_year(nil, {:start_year => 2012, :end_year => 1982, :prompt => "Selecione"}, {:name => "quote[year_maker]", :class => "required", :id => "year_maker", :style => "width: 217px;"})

      %tr
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Ano do modelo"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Zero KM?"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = select_year(nil, {:start_year => 2013, :end_year => 1982, :prompt => "Selecione"}, {:name => "quote[year_model]", :class => "required", :id => "year_model", :style => "width: 217px;"})
        %td
          = f.select :zero, options_for_select([["Sim", 0], ["Não", 1]]), {:prompt => "Selecione"}, {:class => "required", :style => "width: 217px;", :disabled => true}

      %tr
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "É alienado ou financiado?"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Possui kit-gás?"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.select :alienado_finaciado, options_for_select([["Sim", 0], ["Não", 1]]), {:prompt => "Selecione"}, {:class => "required", :style => "width: 217px;"}
        %td
          = f.select :kit_gas, options_for_select([["Sim", 0], ["Não", 1]]), {:prompt => "Selecione"}, {:class => "required", :style => "width: 217px;"}

      %tr
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Proprietário do veículo"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Sistema anti-furto"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.select :proprietario_veiculo, options_for_select([["Próprio", 0], ["Cônjuge", 1], ["Filhos", 2], ["Pais", 3], ["Outros", 4]]), {:prompt => "Selecione"}, {:class => "required", :style => "width: 217px;"}
        %td
          = f.select :anti_furto, options_for_select([["Não possui", 0], ["Sistema original de fábrica", 1], ["Bloqueador rádio frequência", 2], ["Corta ignição", 3], ["Pager", 4], ["Rastreador", 5], ["Trava Mul-T-Lock", 6], ["Trava carneiro", 7], ["Alarme comum", 8], ["Outros", 9]]), {:prompt => "Selecione"}, {:class => "required", :style => "width: 217px;"}

      %tr
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Placa (opcional)", :for => "quote_chassi"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Chassi (opcional)", :for => "quote_licence"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.text_field :licence, :style => "width: 195px;", :alt => "licence"
        %td
          = f.text_field :chassi, :maxlength => 30, :style => "width: 195px;"

      %tr
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Renavam (opcional)", :for => "quote_renavam"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Km médio mensal", :for => "quote_licence"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.text_field :renavam, :style => "width: 95px;"
          = f.select :uf_circulation, options_for_select(@br_states), {:prompt => "Estado"}, {:style => "width: 95px;", :class => "required"}
        %td
          = f.text_field :km_mes, :maxlength => 30, :style => "width: 195px;", :alt => "integer", :class => "required"          

      - if @renovacao == "1"          
        %tr
          %td{:style => "color:#4B4B4B;"}
            %strong= f.label "Atual seguradora (opcional)", :for => "quote_actual_insurance"
          %td{:style => "color:#4B4B4B;"}
            %strong= f.label "Bônus atual (opcional)", :for => "quote_actual_insurance_bonus"
        %tr{:style => "vertical-align: middle;"}
          %td          
            = f.text_field :actual_insurance, :style => "width: 195px;"
          %td          
            = f.select :actual_insurance_bonus, options_for_select(0..20), {:prompt => "Selecione"}, {:style => "width: 217px"}
            
        %tr
          %td{:colspan => "2", :style => "color:#4B4B4B;"}
            %strong= f.label "Venc. do seguro (opcional)", :for => "quote_actual_insurance_maturity"
        %tr{:style => "vertical-align: middle;"}
          %td{:colspan => "2"}
            = f.text_field :actual_insurance_maturity, :style => "width: 195px", :alt => "date"

      %tr{:style => "vertical-align: middle; text-align: right;"}
        %td{:colspan => "2"}
          %br/
          = f.text_field :partial, :value => "auto_perfil", :style => "width: 1px; display: none;"
          = f.text_field :step, :value => "1", :style => "width: 1px; display: none;"
          = f.submit "Continuar", :class => "button"

#content_right{:style => "border-left: 1px solid #DDD; padding-left: 20px; height: 780px;"}
  = image_tag("../assets/step_1_.jpg", :alt => "Step 1", :title => "Step 1")
  %br/
  = image_tag("../assets/step_2.jpg", :alt => "Step 2", :title => "Step 2")
  %br/
  = image_tag("../assets/step_3.jpg", :alt => "Step 3", :title => "Step 3")

:javascript
  $(document).ready(function () {
    $("#cotacao").css("color", "#FFF");
    $('input:text').setMask();
    $("#quote_form").validate();

    $("#quote_form").keypress(function(e) {
      if (e.which == 13) {
        return false;
      }
    });

    if ($.browser.msie) {
      if ($.browser.version < 8) {
        $("#quote_uf_circulation").css("width", "197px");
        $("#quote_fuel").css("width", "197px");
        $("#year_maker").css("width", "197px");
        $("#year_model").css("width", "197px");
        $("#quote_zero").css("width", "197px");
        $("#quote_alienado_finaciado").css("width", "197px");
        $("#quote_kit_gas").css("width", "197px");
        $("#quote_proprietario_veiculo").css("width", "197px");
        $("#quote_anti_furto").css("width", "197px");
        $("#quote_actual_insurance_bonus").css("width", "197px");
      }
    }

    $("#quote_actual_insurance").tipTip({
      activation: "focus",
      defaultPosition: "right",
      content: "Você informou que seu seguro não é novo. Qual sua atual seguradora?"
    });

    $("#quote_actual_insurance_bonus").tipTip({
      activation: "focus",
      defaultPosition: "right",
      content: "Caso tenha utilizado o seguro durante o ano por danos ao próprio veículo ou a terceiros, desconte 1 (uma) classe por evento."
    });

    $("#quote_actual_insurance_maturity").tipTip({
      activation: "focus",
      defaultPosition: "right",
      content: "Informe a data de vencimento da sua atual apólice. Para fins de renovação é possível utilizar apólices vencidas a até 120 dias."
    });

    $("#quote_km_mes").tipTip({
      activation: "focus",
      defaultPosition: "right",
      content: "Multiplique a kilometragem média percorrida diariamente por 30 para preencher este campo."
    });
  });

  $("#year_maker").change(function () {
    var data = new Date();
    var ano = data.getFullYear();
    if($(this).val() >= ano - 1 && $("#year_model").val() >= ano - 1) {
      $("#quote_zero").removeAttr('disabled');
      $("#quote_zero").attr('class', 'required');
    } else {
      $("#quote_zero").find('option:first').attr('selected', 'selected').parent('select');
      $("#quote_zero").attr('disabled', true);
    }
  });

  $("#year_model").change(function () {
    var data = new Date();
    var ano = data.getFullYear();
    if($("#year_maker").val() >= ano - 1 && $(this).val() >= ano - 1) {
      $("#quote_zero").removeAttr('disabled');
      $("#quote_zero").attr('class', 'required');
    } else {
      $("#quote_zero").find('option:first').attr('selected', 'selected').parent('select');
      $("#quote_zero").attr('disabled', true);
    }    
  });