/[If IE 7]
  %link{:href => "../assets/iehack.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
#content_left{:style => "margin-top: 30px"}  
  %p{:style => "font-size:18pt; font-weight:bold; letter-spacing:-1px; padding-bottom:5px; color: #4B4B4B"}
    Pedido de cotação de automóvel.
  %br/
  %p
    Caso não seja o único condutor residente maior de 18 anos informe os dados dos
    demais condutores abaixo e clique finalizar.
  %br/
  = form_for :quote, :url => default_quote_path, :html => {:id => "quote_form"} do |f|
    %table{:border => "0"}
      %tr
        %td{:colspan => "2", :style => "border-bottom: 1px solid #DDD;"}
          1º Condutor
      
      %tr
        %td{:style => "color:#4B4B4B; width: 230px;", :id => "column1"}
          %strong= f.label "Nome", :for => "quote_condutor_1_name"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Data de nascimento"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.text_field :condutor_1_name, :maxlength => 50, :style => "width: 195px;"
        %td
          = f.text_field :condutor_1_birth, :style => "width: 195px", :alt => "date"

      %tr
        %td{:style => "color:#4B4B4B; width: 230px;", :id => "column1"}
          %strong= f.label "Sexo"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Data da 1ª habilitação", :for => "quote_condutor_1_date_licence"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.select :condutor_1_sex, options_for_select([["Masculino", 0], ["Feminino", 1]]), {:prompt => "Selecione"}, {:style => "width: 217px;"}
        %td
          = f.text_field :condutor_1_date_licence, :style => "width: 195px", :alt => "date"

      %tr
        %td{:style => "color:#4B4B4B; width: 230px;", :id => "column1"}
          %strong= f.label "Estado civil"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Grau de parentesco"
      %tr{:style => "vertical-align: middle;"}
        %td    
          = f.select :condutor_1_estado_civil, options_for_select([["Solteiro(a)", 0], ["Casado(a)", 1], ["União Estável (minimo 2 anos)", 2], ["Separado(a)", 3], ["Divorciado(a)", 4], ["Viúvo(a)", 5]]), {:prompt => "Selecione"}, {:style => "width: 217px;"}
        %td
          = f.select :condutor_1_grau_parentesco, options_for_select([["Cônjuge", 0], ["Filhos", 1], ["Pais", 2], ["Outros", 3]]), {:prompt => "Selecione"}, {:style => "width: 217px;"}

      %tr
        %td{:colspan => "2", :style => "border-bottom: 1px solid #DDD;"}
          %br/
          2º Condutor
      
      %tr
        %td{:style => "color:#4B4B4B; width: 230px;", :id => "column1"}
          %strong= f.label "Nome", :for => "quote_condutor_1_name"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Data de nascimento"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.text_field :condutor_2_name, :maxlength => 50, :style => "width: 195px;"
        %td
          = f.text_field :condutor_2_birth, :style => "width: 195px", :alt => "date"

      %tr
        %td{:style => "color:#4B4B4B; width: 230px;", :id => "column1"}
          %strong= f.label "Sexo"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Data da 1ª habilitação", :for => "quote_condutor_1_date_licence"
      %tr{:style => "vertical-align: middle;"}
        %td          
          = f.select :condutor_2_sex, options_for_select([["Masculino", 0], ["Feminino", 1]]), {:prompt => "Selecione"}, {:style => "width: 217px;"}
        %td
          = f.text_field :condutor_2_date_licence, :style => "width: 195px", :alt => "date"

      %tr
        %td{:style => "color:#4B4B4B; width: 230px;", :id => "column1"}
          %strong= f.label "Estado civil"
        %td{:style => "color:#4B4B4B;"}
          %strong= f.label "Grau de parentesco"
      %tr{:style => "vertical-align: middle;"}
        %td    
          = f.select :condutor_2_estado_civil, options_for_select([["Solteiro(a)", 0], ["Casado(a)", 1], ["União Estável (minimo 2 anos)", 2], ["Separado(a)", 3], ["Divorciado(a)", 4], ["Viúvo(a)", 5]]), {:prompt => "Selecione"}, {:style => "width: 217px;"}
        %td
          = f.select :condutor_2_grau_parentesco, options_for_select([["Cônjuge", 0], ["Filhos", 1], ["Pais", 2], ["Outros", 3]]), {:prompt => "Selecione"}, {:style => "width: 217px;"}
      
      %tr{:style => "vertical-align: middle; text-align: right;"}
        %td{:colspan => "2"}
          %br/
          = f.text_field :partial, :value => "finalizar", :style => "width: 1px; display: none;"
          = f.submit "Finalizar", :class => "button", :id => "finalizar"

#content_right{:style => "border-left: 1px solid #DDD; padding-left: 20px; height: 780px;"}
  = image_tag("../assets/step_1.jpg", :alt => "Step 1", :title => "Step 1")
  %br/
  = image_tag("../assets/step_2_.jpg", :alt => "Step 2", :title => "Step 2")
  %br/
  = image_tag("../assets/step_3.jpg", :alt => "Step 3", :title => "Step 3")

:javascript
  $(document).ready(function () {
    $("#cotacao").css("color", "#FFF");
    $('input:text').setMask();
    $("#quote_form").validate();

    $("#quote_form").keypress(function(e) {
      if (e.which == 13) {
        return false;
      }
    });

    if ($.browser.msie) {
      if ($.browser.version < 8) {
        $("#quote_condutor_1_sex").css("width", "197px");
        $("#quote_condutor_1_estado_civil").css("width", "197px");
        $("#quote_condutor_1_grau_parentesco").css("width", "197px");
        $("#quote_condutor_2_sex").css("width", "197px");
        $("#quote_condutor_2_estado_civil").css("width", "197px");
        $("#quote_condutor_2_grau_parentesco").css("width", "197px");
      }
    }

    $('#finalizar').click(function() { 
        $.blockUI({ message: "Aguarde..."}); 
    }); 
  });