/[If IE 7]
  %link{:href => "../assets/iehack.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
#content_left{:style => "margin-top: 30px"}  
  - if @sucesso == true
    - @partial = nil
    - $quote = {}
    %p{:style => "font-size:18pt; font-weight:bold; letter-spacing:-1px; padding-bottom:5px; color: #4B4B4B"}
      - if @first_name
        #{@first_name}, obrigado por solicitar sua cotação conosco!
      - else
        Obrigado por solicitar sua cotação conosco!
    %br/
    %p{:style => "font-size:18pt; font-weight:bold; letter-spacing:-1px; padding-bottom:5px; color: #4B4B4B"}
      Entraremos em contato através do telefone ou e-mail informado tão logo os cálculos estejam concluidos.
    %br/
  - else
    %p{:style => "font-size:18pt; font-weight:bold; letter-spacing:-1px; padding-bottom:5px; color: #4B4B4B"}
      - if @first_name
        #{@first_name}, desculpe estamos tendo algum problema e não conseguimos enviar sua solicitação.
      - else
        Desculpe estamos tendo alguma problema e não conseguimos enviar sua solicitação.
    %br/
    %p{:style => "font-size:18pt; font-weight:bold; letter-spacing:-1px; padding-bottom:5px; color: #4B4B4B"}
      Entre em contato conosco através dos números: 
      %br/
      %br/
      (44) 3233-2184 / 3232-1896.
    %br/
#content_right{:style => "border-left: 1px solid #DDD; padding-left: 20px; height: 780px;"}
  = image_tag("../assets/step_1.jpg", :alt => "Step 1", :title => "Step 1")
  %br/
  = image_tag("../assets/step_2.jpg", :alt => "Step 2", :title => "Step 2")
  %br/
  = image_tag("../assets/step_3_.jpg", :alt => "Step 3", :title => "Step 3")