/[If IE 7]
  %link{:href => "../assets/iehack.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
#banner_principal
  %table{:cellpadding => "0", :cellspacing => "0", :style => "width:500px; margin:10px 0 0 15px"}
    %tbody
      %tr
        %td{:style => "color:#FFFFFF; font-size:30pt; font-family:Tahoma,Arial; letter-spacing:-2px; height:90px; font-weight:bold"}
          Seguros para você e sua família.
      %tr
        %td{:style => "color:#D1F5FF; font-size:12pt; font-weight:normal; line-height:170%; height:145px"}
          %p{:style => "margin-bottom: 10px"}
            Confira as melhores condições de contratação selecionando um produto e
            preenchendo o formulário abaixo.
          %p{:style => "margin-bottom: 10px"}
            Se desejar, entre em contato através de nossos telefones ou pelo nosso fale conosco.
      %tr{:style => "display: none", :id => "bt_tproduto"}
        %td{:style => "height:45px; padding-top:5px"}
          %a{:href => "#{default_quote_path}"}
            %img.transparent{:alt => "Solicite uma cotação", :src => "../assets/bt_tproduto.jpg"}/
#conteudo
  - if @partial.nil?
    #content_left{:style => "margin-top: 30px"}
      %p{:style => "font-size:18pt; font-weight:bold; letter-spacing:-1px; padding-bottom:5px; color: #4B4B4B"}
        Para iniciar a simulação, preencha o formulário abaixo com os dados da pessoa que será segurada:
      %br/
      %p
        Todos os campos abaixo são de preenchimento obrigatório.
      %br/
      = form_for :quote, :url => default_quote_path, :html => {:id => "quote_form"} do |f|
        %table
          %tr
            %td{:colspan => "2", :style => "color:#4B4B4B; width: 230px;"}
              %strong= f.label "Nome completo", :for => "quote_name"
          %tr{:style => "vertical-align: middle;"}
            %td{:colspan => "2"}
              = f.text_field :name, :maxlength => 100, :style => "width: 429px", :class => "required"

          %tr
            %td{:style => "color:#4B4B4B; width: 230px;"}
              %strong= f.label "Data de nascimento", :for => "quote_birth"
            %td{:style => "color:#4B4B4B;"}
              %strong= f.label "CPF", :for => "quote_cpf"
          %tr{:style => "vertical-align: middle;"}
            %td
              = f.text_field :birth, :style => "width: 195px", :alt => "date", :class => "required"
            %td
              = f.text_field :cpf, :style => "width: 195px", :alt => "cpf", :class => "required"

          %tr
            %td{:style => "color:#4B4B4B;"}
              %strong= f.label "Telefone celular", :for => "quote_phone_cel"
            %td{:style => "color:#4B4B4B;"}
              %strong= f.label "E-mail", :for => "quote_mail"
          %tr{:style => "vertical-align: middle;"}
            %td
              = f.text_field :phone_cell, :style => "width: 195px", :alt => "phone", :class => "required"
            %td
              = f.text_field :mail, :maxlength => 100, :style => "width: 195px", :class => "required"

          %tr
            %td{:style => "color:#4B4B4B;"}
              %strong= f.label "Cep residencial", :for => "quote_zip_home"
            %td{:style => "color:#4B4B4B;"}
              %strong= f.label "Número da residência", :for => "quote_number_home"
          %tr{:style => "vertical-align: middle;"}
            %td
              = f.text_field :zip_home, :style => "width: 195px", :alt => "cep", :class => "required"
            %td
              = f.text_field :number_home, :maxlength => 10, :style => "width: 195px", :class => "required"

          %tr
            %td{:colspan => "2", :style => "color:#4B4B4B;"}
              %strong= f.label "O seguro é novo?"
          %tr{:style => "vertical-align: middle;"}
            %td{:colspan => "2"}
              = f.select :insurance_new, options_for_select([["Sim", 0], ["Não", 1]]), {:prompt => "Selecione"}, {:style => "width: 451px", :class => "required"}

          %tr
            %td{:colspan => "2", :style => "color:#4B4B4B;"}
              %strong= f.label "Qual a modalidade do seguro?"
          %tr{:style => "vertical-align: middle;"}
            %td{:colspan => "2"}
              = f.select :insurance_type, options_for_select([["Automóvel", "auto"]]), {:prompt => "Selecione"}, {:style => "width: 451px", :class => "required"}

          %tr{:style => "vertical-align: middle; text-align: right;"}
            %td{:colspan => "2"}
              %br/
              = f.submit "Iniciar simulação", :class => "button"
          
    #content_right{:style => "border-left: 1px solid #DDD; padding-left: 20px; height: 780px;"}
      %p{:style => "font-size:18pt; font-weight:bold; letter-spacing:-1px; padding-bottom:5px; color: #4B4B4B"}
        Confira como funciona:
      %ul.step_quote
        %li
          %span 1
          Preencha os dados solicitados nesta tela
        %li
          %span 2
          Selecione a modalidade do seguro
        %li
          %span 3
          Preencha os dados básicos
        %li
          %span 4
          Preencha os dados complementares
        %li
          %span 5
          Entraremos em contato para apresentar uma cotação
  - else
    = render :partial => @partial
/[If IE 7]
  #force_space{:style => "clear: left"}

:javascript
  $(document).ready(function () {
    $("#cotacao").css("color", "#FFF");    
    $('input:text').setMask();
    $("#quote_form").validate();

    $("#quote_form").keypress(function(e) {
      if (e.which == 13) {
        return false;
      }
    });

    if ($.browser.msie) {
      if ($.browser.version < 8) {
        $("#quote_insurance_new").css("width", "431px");
        $("#quote_insurance_type").css("width", "431px");
      }
    }

    $('html, body').animate({ scrollTop: 500 }, 'slow');
  });