#home
  .col-left
    #main
      %h2 
        Seguro Automóvel
        %img.alignright{:alt => "Automóvel", :border => "0", :src => "../assets/cot_auto_g.png", :title => "Automóvel"}
      %p O seguro automóvel foi feito para garantir o seu carro, mas também é um seguro que possui inúmeros serviços desenvolvidos especialmente para facilitar o seu dia a dia e deixar você e sua família mais tranquilos. Porque nós sabemos que, no seu carro, o mais importante continua sendo você e quem você quer bem. 
      %p
        %strong Vantagens e serviços
      %ul
        %li - Procuramos a melhor seguradora de acordo com seu perfil;
        %li - Atendimento personalizado e 24 horas no caso de sinistros;
        %li - Vistoria no melhor local para o segurado.
        %li - Parcelamento do seguro em até 6x sem juros e até 12x com juros.
      .hr
      - unless @message.blank?
        #message
          = @message
          - @message = ""
      %p 
        %strong Solicitação de cotação de seguro automóvel
      = form_for :budget_auto, :url => budget_auto_path, :html => {:id => "budget_form"} do |f|
        %table
          %tr 
            %th DADOS DO CLIENTE
            %th
          %tr
            %td Nome completo*:
            %td 
              = f.text_field :name, :maxlength => 100, :size => 40, :class => "required"
          %tr
            %td CPF*:
            %td 
              = f.text_field :cpf, :maxlength => 14, :size => 40, :class => "required"
          %tr
            %td Data de nascimento*:
            %td 
              = f.text_field :birth, :maxlength => 10, :size => 40, :class => "required"
          %tr
            %td Sexo*:
            %td 
              = f.select :sex, options_for_select(["Masculino", "Feminino"]), {:prompt => "Selecione"}, {:class => "required"}
          %tr
            %td Estado civil*:
            %td 
              = f.select :marital_status, options_for_select(["Solteiro(a)", "Casado", "União Estável (minimo 2 anos)", "Separado", "Divorciado", "Viúvo"]), {:prompt => "Selecione"}, {:class => "required"}
          %tr
            %td E-mail*:
            %td 
              = f.email_field :mail, :maxlength => 100, :size => 40, :class => "required"
          %tr
            %td Telefone de contato*:
            %td 
              = f.text_field :phone, :maxlength => 14, :size => 40, :class => "required"
          %tr 
            %th DADOS DO VEÍCULO
            %th
          %tr
            %td Marca*:
            %td 
              = f.text_field :maker, :maxlength => 100, :size => 40, :class => "required"
          %tr
            %td Modelo*:
            %td 
              = f.text_field :model_type, :maxlength => 100, :size => 40, :class => "required"
          %tr
            %td Combustível*:
            %td 
              = f.select :fuel, options_for_select(["Álcool e Gasolina (Flex)", "Álcool", "Gasolina", "Diesel", "Gás Natural", "Outro"]), {:prompt => "Selecione"}, {:class => "required"}
          %tr
            %td Ano de fabricação*:
            %td 
              = select_year(nil, {:start_year => 2012, :end_year => 1982, :prompt => "Selecione"}, {:name => "budget_auto[year_maker]", :class => "required", :id => "year_maker"})
          %tr
            %td Ano de modelo*:
            %td 
              = select_year(nil, {:start_year => 2012, :end_year => 1982, :prompt => "Selecione"}, {:name => "budget_auto[year_model]", :class => "required", :id => "year_model"})
              %br
              = f.check_box :zero
              %span{:style => "font-weight: normal"} Zero Km
          %tr
            %td CHASSI:
            %td 
              = f.text_field :chassi, :maxlength => 30, :size => 40
          %tr
            %td Placa:
            %td 
              = f.text_field :licence, :maxlength => 8, :size => 40
          %tr
            %td Renavam:
            %td 
              = f.text_field :renavam, :maxlength => 30, :size => 40
          %tr
            %td CEP de circulação*:
            %td 
              = f.text_field :zip_code_1, :maxlength => 9, :size => 40, :class => "required"
          %tr
            %td CEP de pernoite*:
            %td 
              = f.text_field :zip_code_2, :maxlength => 9, :size => 40, :class => "required"
          %tr
            %td Proprietário do veículo*:
            %td 
              = f.select :owner, options_for_select(["Próprio", "Cônjuge", "Filhos", "Pais", "Outros"]), {:prompt => "Selecione"}, {:class => "required"}
          %tr
            %td Opcionais do veículo
            %td 
              = f.check_box :ar
              %span{:style => "font-weight: normal"} Ar-Condicionado
              %br
              = f.check_box :direcao
              %span{:style => "font-weight: normal"} Direção Hidráulica
              %br
              = f.check_box :vidros
              %span{:style => "font-weight: normal"} Vidros Elétricos
              %br
              = f.check_box :abs
              %span{:style => "font-weight: normal"} Freios ABS
              %br
              = f.check_box :alarm
              %span{:style => "font-weight: normal"} Alarme
          %tr
            %td Sistema anti-furto*
            %td 
              = f.select :antifurto, options_for_select(["Não possui", "Sistema original de fábrica", "Bloqueador rádio frequência", "Corta ignição", "Pager", "Rastreador", "Trava Mul-T-Lock", "Trava carneiro", "Outros"]), {:prompt => "Selecione"}, {:class => "required"}
          %tr
            %td Veículo alienado ou financiado?*
            %td 
              = f.radio_button :alienado, true
              %span{:style => "font-weight: normal"} Sim
              %br              
              = f.radio_button :alienado, false
              %span{:style => "font-weight: normal"} Não
          %tr
            %td Renovação?
            %td             
              = f.radio_button :renovacao, true
              %span{:style => "font-weight: normal"} Sim
              %br              
              = f.radio_button :renovacao, false
              %span{:style => "font-weight: normal"} Não
          %tr
            %td Nome da seguradora:
            %td 
              = f.text_field :insurance, :maxlength => 100, :size => 40
          %tr
            %td Bônus atual:
            %td 
              = f.select :bonus, options_for_select(0..20), :prompt => "Selecione"
          %tr
            %td Utilizou o seguro este ano?
            %td               
              = f.radio_button :sinistro, true
              %span{:style => "font-weight: normal"} Sim, por danos:
              = f.select :sinistro_danos, options_for_select(["ao própio veículo", "à terceiros"]), :prompt => "Selecione"
              %br            
              = f.radio_button :sinistro, false
              %span{:style => "font-weight: normal"} Não
          %tr
            %td Vencimento da apólice atual:
            %td 
              = f.text_field :maturity, :maxlength => 10, :size => 40
          %tr
            %td O Segurado e/ou condutor principal tiveram veículos roubados nos últimos 3 anos?*
            %td             
              = f.radio_button :theft, true
              %span{:style => "font-weight: normal"} Sim
              %br              
              = f.radio_button :theft, false
              %span{:style => "font-weight: normal"} Não
          %tr 
            %th PERFIL DO SEGURADO
            %th 
              %span{:style => "font-weight: normal"} O perfil tem por objetivo identificar o risco do seguro, as respostas devem ser verdadeiras podendo em caso de inverdade acarretar a redução total ou parcial do valor a ser indenização.
          %tr
            %td Relação do condutor principal (pessoa que utiliza o veículo 85% do tempo) com o segurado?*
            %td             
              = f.radio_button :relacao_cond_seg, "Próprio"
              %span{:style => "font-weight: normal"} Próprio
              %br
              = f.radio_button :relacao_cond_seg, "Cônjuge"
              %span{:style => "font-weight: normal"} Cônjuge
              %br
              = f.radio_button :relacao_cond_seg, "Filho"
              %span{:style => "font-weight: normal"} Filho
              %br
              = f.radio_button :relacao_cond_seg, "Outro"
              %span{:style => "font-weight: normal"} Outro
              = f.text_field :relacao_cond_seg_outro, :maxlength => 20, :size => 20
          %tr
            %td Nome*:
            %td 
              = f.text_field :name_perfil, :maxlength => 100, :size => 40, :class => "required"
          %tr
            %td CPF*:
            %td 
              = f.text_field :cpf_perfil, :maxlength => 14, :size => 40, :class => "required"
          %tr
            %td Data de nascimento*:
            %td 
              = f.text_field :birth_perfil, :maxlength => 10, :size => 40, :class => "required"
          %tr
            %td Sexo*:
            %td 
              = f.select :sex_perfil, options_for_select(["Masculino", "Feminino"]), {:prompt => "Selecione"}, {:class => "required"}
          %tr
            %td Estado civil*:
            %td 
              = f.select :marital_status_perfil, options_for_select(["Solteiro(a)", "Casado", "União Estável (minimo 2 anos)", "Separado", "Divorciado", "Viúvo"]), {:prompt => "Selecione"}, {:class => "required"}
          %tr
            %td Profissão:
            %td 
              = f.text_field :job_perfil, :maxlength => 100, :size => 40
          %tr
            %td Data da 1ª habilitação:
            %td 
              = f.text_field :cnh_first_perfil, :maxlength => 10, :size => 40
          %tr
            %td Escolaridade:
            %td 
              = f.select :school_perfil, options_for_select(["Fundamental", "Médio", "Superior"]), :prompt => "Selecione"
          %tr
            %td Estuda atualmente?
            %td 
              = f.select :study_perfil, options_for_select(["Sim", "Não"]), :prompt => "Selecione"
          %tr
            %td Qual o tipo de residência?
            %td 
              = f.select :residence_type_perfil, options_for_select(["Apartamento", "Casa"]), :prompt => "Selecione"
          %tr
            %td Residência própria ou alugada?
            %td 
              = f.select :residence_status_perfil, options_for_select(["Própria", "Alugada"]), :prompt => "Selecione"
          %tr
            %td Residência em condomínio fechado?
            %td 
              = f.select :residence_closed_perfil, options_for_select(["Sim", "Não"]), :prompt => "Selecione"
          %tr
            %td Garagem fechada?
            %td 
              = f.check_box :garage_residence_perfil
              %span{:style => "font-weight: normal"} Na residência
              %br
              = f.check_box :garage_job_perfil
              %span{:style => "font-weight: normal"} No trabalho
              %br
              = f.check_box :garage_school_perfil
              %span{:style => "font-weight: normal"} Na escola
              %br
              = f.check_box :garage_not_job_perfil
              %span{:style => "font-weight: normal"} Não trabalha ou não utiliza para ir ao trabalho
              %br
              = f.check_box :garage_not_school_perfil
              %span{:style => "font-weight: normal"} Não estuda ou não utiliza para ir a escola/faculdade
              %br
              = f.check_box :garage_not_perfil
              %span{:style => "font-weight: normal"} Não possui garagem
          %tr
            %td Quantidade de veículos:
            %td 
              = f.text_field :vehicle_ammount_perfil, :maxlength => 2, :size => 40
          %tr
            %td Quilometragem diária:
            %td 
              = f.text_field :km_day_perfil, :maxlength => 4, :size => 40
          %tr
            %th OUTROS CONDUTORES 
            %th 
              %span{:style => "font-weight: normal"} Residentes com mais de 18 anos.
          %tr
            %th{:colspan => 2} 1º condutor
          %tr
            %td Nome:
            %td 
              = f.text_field :name_cond_1_perfil, :maxlength => 100, :size => 40
          %tr
            %td Data de nascimento:
            %td 
              = f.text_field :birth_cond_1_perfil, :maxlength => 10, :size => 40
          %tr
            %td Sexo:
            %td 
              = f.select :sex_cond_1_perfil, options_for_select(["Masculino", "Feminino"]), :prompt => "Selecione"
          %tr
            %td Data da 1ª habilitação:
            %td 
              = f.text_field :cnh_first_cond_1_perfil, :maxlength => 10, :size => 40
          %tr
            %td Estado civil:
            %td 
              = f.select :marital_cond_1_status_perfil, options_for_select(["Solteiro(a)", "Casado", "União Estável (minimo 2 anos)", "Separado", "Divorciado", "Viúvo"]), :prompt => "Selecione"
          %tr
            %td Grau de parentesco:
            %td 
              = f.text_field :relation_cond_1_perfil, :maxlength => 100, :size => 40
          %tr
            %th{:colspan => 2} 2º condutor
          %tr
            %td Nome:
            %td 
              = f.text_field :name_cond_2_perfil, :maxlength => 100, :size => 40
          %tr
            %td Data de nascimento:
            %td 
              = f.text_field :birth_cond_2_perfil, :maxlength => 10, :size => 40
          %tr
            %td Sexo:
            %td 
              = f.select :sex_cond_2_perfil, options_for_select(["Masculino", "Feminino"]), :prompt => "Selecione"
          %tr
            %td Data da 1ª habilitação:
            %td 
              = f.text_field :cnh_first_cond_2_perfil, :maxlength => 10, :size => 40
          %tr
            %td Estado civil:
            %td 
              = f.select :marital_cond_2_status_perfil, options_for_select(["Solteiro(a)", "Casado", "União Estável (minimo 2 anos)", "Separado", "Divorciado", "Viúvo"]), :prompt => "Selecione"
          %tr
            %td Grau de parentesco:
            %td 
              = f.text_field :relation_cond_2_perfil, :maxlength => 100, :size => 40
          %tr
            %th{:colspan => 2} 3º condutor
          %tr
            %td Nome:
            %td 
              = f.text_field :name_cond_3_perfil, :maxlength => 100, :size => 40
          %tr
            %td Data de nascimento:
            %td 
              = f.text_field :birth_cond_3_perfil, :maxlength => 10, :size => 40
          %tr
            %td Sexo:
            %td 
              = f.select :sex_cond_3_perfil, options_for_select(["Masculino", "Feminino"]), :prompt => "Selecione"
          %tr
            %td Data da 1ª habilitação:
            %td 
              = f.text_field :cnh_first_cond_3_perfil, :maxlength => 10, :size => 40
          %tr
            %td Estado civil:
            %td 
              = f.select :marital_cond_3_status_perfil, options_for_select(["Solteiro(a)", "Casado", "União Estável (minimo 2 anos)", "Separado", "Divorciado", "Viúvo"]), :prompt => "Selecione"
          %tr
            %td Grau de parentesco:
            %td 
              = f.text_field :relation_cond_3_perfil, :maxlength => 100, :size => 40
          %tr
            %th OUTRAS INFORMAÇÕES
            %th
          %tr
            %td Prefere ser contatado de que forma?*
            %td             
              = f.radio_button :contact, "E-mail"
              %span{:style => "font-weight: normal"} E-mail
              %br
              = f.radio_button :contact, "Telefone"
              %span{:style => "font-weight: normal"} Telefone
              %br
              = f.radio_button :contact, "Pessoalmente"
              %span{:style => "font-weight: normal"} Pessoalmente
          %tr
            %td Comentários adicionais:
            %td 
              = f.text_area :obs, :cols => 50, :rows => 10, :maxlength => 500, :style => "resize: none"
          %tr
            %td
            %td 
              = f.submit "Enviar"
      %br
  .col-right
    #column-right
      #content-right
        %h4#budget Cotação
        %ul
          %li 
            %a{:href => "/seguro-automovel"} - Automóvel
          %li 
            %a{:href => "#"} - Vida Individual
          %li 
            %a{:href => "#"} - Equipamentos Portáteis
          %li 
            %a{:href => "#"} - Outros ramos
        %h4#news Notícias e Destaques
        %ul
          %li 
            %a{:href => "#"} - Um corretor ativo para cada 3 mil brasileiros...
          %li 
            %a{:href => "#"} - Corretor sem ética pode ser julgado...
          %li 
            %a{:href => "#"} - Alto índice de assalto reforça necessidade...
          %li 
            %a{:href => "#"} - Quando a falta de documentos vira multa...     
        %h4#tips Perguntas Frequentes
        %ul
          %li 
            %a{:href => "#"} - O que é perda total do veículo?
          %li 
            %a{:href => "#"} - O que é Carro Reserva?
          %li 
            %a{:href => "#"} - O que é danos a terceiros?
          %li 
            %a{:href => "#"} - O que é CASCO?
          %li 
            %a{:href => "#"} - Outras perguntas...
:javascript
  $(document).ready(function(){
    $('.cotacao').css("background-color", "#098FAF");
    
    $("#budget_form").validate();

    $("#budget_form").keypress(function(e) {
      if (e.which == 13) {
        return false;
      }
    });
  });