#budget-mailer
  %p
    Olá, o cliente #{@budget_other[:name]} esta solicitando uma cotação de seguro de outros ramos, segue os dados informados para cotação abaixo:
  %br
  %table{:border => 1, :width => 800, :cellspacing => 0, :cellpadding => 0}
    %tr
      %th{:colspan => 6} DADOS DO CLIENTE
    %tr
      %td{:width => 100, :bgcolor => "#F1F1F1"} Nome completo:
      %td{:width => 200} 
        =@budget_other[:name]
      %td{:width => 100, :bgcolor => "#F1F1F1"} CPF:
      %td{:width => 200} 
        =@budget_other[:cpf]
      %td{:width => 100, :bgcolor => "#F1F1F1"} Data de nascimento:
      %td{:width => 200} 
        =@budget_other[:birth]
    %tr
      %td{:bgcolor => "#F1F1F1"} Sexo:
      %td 
        =@budget_other[:sex]
      %td{:bgcolor => "#F1F1F1"} Estado civil:
      %td
        =@budget_other[:marital_status]
      %td{:bgcolor => "#F1F1F1"} E-mail:
      %td
        =@budget_other[:mail]
    %tr
      %td{:bgcolor => "#F1F1F1"} Telefone de contato:
      %td
        =@budget_other[:phone]
      %td{:bgcolor => "#F1F1F1"} Endereço:
      %td
        =@budget_other[:address]
      %td{:bgcolor => "#F1F1F1"} Cidade:
      %td
        =@budget_other[:city]
    %tr
      %td{:bgcolor => "#F1F1F1"} UF:
      %td{:colspan => 2}
        =@budget_other[:uf]
      %td{:bgcolor => "#F1F1F1"} CEP:
      %td{:colspan => 2}
        =@budget_other[:zip_code_1]
    %tr
      %th{:colspan => 6} PRODUTOS QUE DESEJA RECEBER INFORMAÇÕES
    %tr
      %td{:bgcolor => "#F1F1F1"} Para você:
      %td{:colspan => 2}
        = (@budget_other[:af] == "0" ? nil : "- Assistência Funeral")
        #{(@budget_other[:ap] == "0" ? nil : "- Acidentes Pessoais")}
        #{(@budget_other[:residencia] == "0" ? nil : "- Residência")}
        #{(@budget_other[:saude_v] == "0" ? nil : "- Saúde")}
        #{(@budget_other[:vida] == "0" ? nil : "- Vida")}
      %td{:bgcolor => "#F1F1F1"} Para empresa:
      %td{:colspan => 2}
        = (@budget_other[:condominio] == "0" ? nil : "- Condomínio")
        #{(@budget_other[:empresa] == "0" ? nil : "- Empresa")}
        #{(@budget_other[:frota] == "0" ? nil : "- Frota")}
        #{(@budget_other[:rc] == "0" ? nil : "- Responsabilidade Civil")}
        #{(@budget_other[:re] == "0" ? nil : "- Risco de Engenharia")}
        #{(@budget_other[:saude_e] == "0" ? nil : "- Saúde")}
        #{(@budget_other[:vg] == "0" ? nil : "- Vida em Grupo")}
    %tr
      %th{:colspan => 6} OUTRAS INFORMAÇÕES
    %tr
      %td{:bgcolor => "#F1F1F1"} Prefere ser contatado de que forma?
      %td{:colspan => 2}
        = @budget_other[:contact]
      %td{:bgcolor => "#F1F1F1"} Comentários adicionais:
      %td{:colspan => 2}
        = @budget_other[:obs]