!!!
%html
  %head
    %title Bornia e Dianin Corretora de Seguros
    = stylesheet_link_tag    "application_new"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:style => "#{@body = @body.nil? ? '' : @body}"}
    #wrap
      #topo
        %img{:align => "left", :alt => "BDSeguros", :src => "../assets/logo.jpg", :style => "margin-top:15px;", :title => "BDSeguros"}
          %img{:align => "right", :alt => "Telefone (44) 3233-2184 ou (44) 3232-1896", :src => "../assets/phone.jpg", :style => "margin-top:30px;", :title => "Telefone (44) 3233-2184 ou (44) 3232-1896"}
      #menu
        %table{:cellpadding => "0", :cellspacing => "0", :style => "height:39px"}
          %tbody
            %tr
              %td{:style => "padding:0 13px 0 15px"}
                = link_to "Página Inicial", index_new_path, :id => "pagina_inicial"
              %td{:style => "padding:0 13px 0 13px"}
                = link_to "Seguros", insurance_path, :id => "seguros"
              %td{:style => "padding:0 13px 0 13px"}
                = link_to "Sinistros", index_new_path, :id => "sinistros", :onclick => "alert('Sistema em desenvolvimento.');return false;"
              %td{:style => "padding:0 13px 0 13px"}
                = link_to "Seguradoras", index_new_path, :id => "seguradoras", :onclick => "alert('Sistema em desenvolvimento.');return false;"
              %td{:style => "padding:0 13px 0 13px"}
                = link_to "Cotação", quote_path, :id => "cotacao"
              %td{:style => "padding:0 13px 0 13px"}
                = link_to "Perguntas frequentes", index_new_path, :id => "perguntas_frequentes", :onclick => "alert('Sistema em desenvolvimento.');return false;"
              %td{:style => "padding:0 13px 0 13px"}
                = link_to "Fale Conosco", index_new_path, :id => "fale_conosco", :onclick => "alert('Sistema em desenvolvimento.');return false;"
      = yield
    #rodape
      #wrap
        %table{:width => "100%"}
          %tbody
            %tr
              %td{:style => "vertical-align: top;width: 198px;"}
                %strong
                  Seguros
                %br/
                = link_to "Para você ou sua empresa", insurance_path, :style => "font-size: 12px;"
              %td{:style => "vertical-align: top;width: 198px;"}
                %strong
                  Sinistros
                %br/
                = link_to "Atendimento a sinistros", index_new_path, :onclick => "alert('Sistema em desenvolvimento.');return false;", :style => "font-size: 12px;"
              %td{:style => "vertical-align: top;width: 198px;"}
                %strong
                  Seguradoras
                %br/
                = link_to "Nossos parceiros", index_new_path, :onclick => "alert('Sistema em desenvolvimento.');return false;", :style => "font-size: 12px;"
              %td{:style => "vertical-align: top;width: 198px;"}
                %strong
                  Outros links
                %br/
                = link_to "Cotação", quote_path, :style => "font-size: 12px;"
                %br/
                = link_to "Perguntas frequentes", index_new_path, :onclick => "alert('Sistema em desenvolvimento.');return false;", :style => "font-size: 12px;"
              %td{:style => "vertical-align: top;width: 198px;"} 
                %strong
                  Contato
                %br/
                = link_to "Fale conosco", index_new_path, :onclick => "alert('Sistema em desenvolvimento.');return false;", :style => "font-size: 12px;"
                %br/
                = link_to "Trabalhe conosco", index_new_path, :onclick => "alert('Sistema em desenvolvimento.');return false;", :style => "font-size: 12px;"
        %p{:style => "text-align: center; font-size: 12px; color: #BBB;"}
          Copyright © 2011-2012 Bornia e Dianin Corretora de Seguros. Todo o conteúdo deste site é de uso exclusivo.